<div class="card">
  <table class="table bg-white">
    <thead class="bg-trademarkcolor-secondary text-light">
      <tr>
        <th scope="col">Source</th>
        <th scope="col">Price</th>
        <th scope="col">Price Change</th>
        <th scope="col">Link</th>
      </tr>
    </thead>
    <tbody>
      <div *ngFor="let row of tableData"></div>
      <tr>
        <th scope="row">Binance</th>
        <td>$132 AUD</td>
        <td>1.5%</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
</div>
