<div class="container">
  <div class="card">
    <table class="table bg-white">
      <thead class="bg-trademarkcolor-secondary text-light">
        <tr>
          <th scope="col">Source</th>
          <th scope="col">Price</th>
          <th scope="col">Price Change</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Binance</th>
          <td>$132 AUD</td>
          <td>1.5%</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">Btcmarket</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- <div class="py-2">
    <a routerLink="/first-component" routerLinkActive="active"
      >See Detailed Comparisons >
    </a>
  </div> -->
</div>
