<!-- <div class="card"> -->
<div class="table-responsive">
  <table class="table bg-white w-100 table-hover">
    <thead class="bg-trademarkcolor text-light">
      <tr>
        <th scope="col" class="header">Source</th>
        <th scope="col" class="header">Price</th>
        <th scope="col" class="header">Price Change</th>
        <th scope="col" class="header">Link</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tableData">
        <th scope="row" class="source">
          <a [href]="row.sourceUrl">
            {{ row.source }}
          </a>
        </th>
        <td class="price">${{ trimNumber(row.price) }} AUD</td>
        <td class="priceChange">
          {{ row.priceChange != null ? trimNumber(row.priceChange) : "N/A" }}
        </td>
        <td class="link">
          <a [href]="row.link">{{ row.link }}</a>
        </td>
      </tr>
    </tbody>
    <!-- </table> -->
  </table>
</div>
