<div *ngIf="isLoading" class="d-flex justify-content-center w-100 pt-5">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<!-- *ngIf="!isInvalid && !isLoading" -->
<div class="container px-sm-5 py-2 flex-column" *ngIf="!isLoading">
  <!-- <alert></alert> -->
  <div class="d-flex w-100 p-0 justify-content-between">
    <div>
      <h1 class="mb-0">
        {{ latestPrice.symbol }}
        <!-- {{ description.ticker 1.00 }} -->
      </h1>
    </div>
    <div [ngClass]="isPositive() ? 'text-success' : 'text-danger'">
      <h1 class="mb-0">
        <i
          [ngClass]="isPositive() ? 'fa fa-caret-up' : 'fa fa-caret-down'"
          aria-hidden="true"
        ></i>
        {{ trimNumber(latestPrice.lastPrice) }}
        <!-- {{ latestPrice.last }} -->
      </h1>
    </div>
  </div>
  <div class="d-flex w-100 justify-content-between">
    <div class="text-muted">
      <!-- <h3>{{ description.name }}</h3> -->
      <h3>Bitcoin</h3>
    </div>
    <div
      class="d-inline"
      [ngClass]="isPositive() ? 'text-success' : 'text-danger'"
    >
      <h3>
        <i
          [ngClass]="isPositive() ? 'fa fa-caret-up' : 'fa fa-caret-down'"
          aria-hidden="true"
        ></i>
        {{ trimNumber(latestPrice.priceChange) }} ({{
          trimNumber(latestPrice.priceChangePercent)
        }}%)
        <!-- {{ change.toFixed(2) }} ({{ changePercentage.toFixed(2) }}%) -->
      </h3>
    </div>
  </div>
  <div class="d-flex w-100 justify-content-between">
    <button type="button" class="btn btn-success">Favorite</button>
  </div>
  <div class="d-flex w-100 justify-content-center">
    <div class="text-muted">Data from Binance.com</div>
  </div>
  <div class="w-100 row">
    <div class="col-3">
      <div class="card h-100">
        <ul>
          <li>Open Price</li>
          <li>High Price: 100</li>
          <li>Low Price: 100</li>
          <li>Volume: 8913</li>
          <li>Quote Volume: 8913</li>
        </ul>
      </div>
    </div>
    <div class="col-9">
      <div class="card h-100">
        <!-- <div class="col-6">
    </div> -->
        <!-- <div class="col-6"> -->
        <highcharts-chart
          [Highcharts]="Highcharts"
          [constructorType]="chartConstructor"
          [options]="chartOptions"
          *ngIf="updateFlag"
          style="width: 100%; height: 400px; display: block"
        ></highcharts-chart>
        <!-- </div> -->
      </div>
    </div>
  </div>

  <div style="height: 200px"></div>

  <app-comparison-table> </app-comparison-table>
</div>
<!-- <div class="container px-5 py-5 flex-column" *ngIf="isInvalid && !isLoading">
  <div class="alert alert-danger text-center text-dark" role="alert">
    No results found. Please enter valid Ticker.
  </div>
</div> -->
